# Android Project Configuration for AirSync
project_name=AirSync
project_dir=/Users/sameerasandakelum/GIT/airsync-android
workspace_file=/Users/sameerasandakelum/GIT/config/airsync.code-workspace
package_name=com.sameerasw.airsync
main_activity=.MainActivity
gradle_task=assembleDebug
build_variant=debug
release_type=both
keystore_file=/Users/sameerasandakelum/Documents/AirSync-key
target_device=46121FDAP004D9
