# Android Project Configuration for Akshara
project_name=Akshara
project_dir=/Users/sameerasandakelum/GIT/akshara-android
package_name=lk.org.akshara.keyboard
main_activity=org.akshara.ime.settings.SettingsActivity
gradle_task=assembleDebug
build_variant=debug
target_device=46121FDAP004D9
java_home=/Users/sameerasandakelum/Library/Java/JavaVirtualMachines/corretto-21.0.11/Contents/Home
