# Android Project Configuration for Essentials
project_name=Essentials
project_dir=/Users/sameerasandakelum/GIT/essentials
workspace_file=/Users/sameerasandakelum/GIT/config/essentials.code-workspace
package_name=com.sameerasw.essentials
main_activity=.MainActivity
gradle_task=assembleDebug
build_variant=debug
release_type=apk
keystore_file=/Users/sameerasandakelum/Documents/Essentials-key.jks
target_device=46121FDAP004D9
