# Android Project Configuration for MeDrop WearOS
project_name=MeDrop (WearOS)
project_dir=/Users/sameerasandakelum/GIT/MeDrop-wear
workspace_file=/Users/sameerasandakelum/GIT/config/essentials.code-workspace
package_name=com.sameerasw.medrop
main_activity=.presentation.MainActivity
gradle_task=assembleDebug
build_variant=debug
release_type=both
keystore_file=/Users/sameerasandakelum/Documents/MeDrop.jks
target_device=192.168.1.59:42301
