# Android Project Configuration for MeDrop
project_name=MeDrop
project_dir=/Users/sameerasandakelum/GIT/MeDrop
workspace_file=/Users/sameerasandakelum/GIT/config/essentials.code-workspace
package_name=com.sameerasw.medrop
main_activity=.MainActivity
gradle_task=assembleDebug
build_variant=debug
release_type=both
keystore_file=/Users/sameerasandakelum/Documents/Essentials-key.jks
target_device=46121FDAP004D9
