# Android Project Configuration for Overcast
project_name=Overcast
project_dir=/Users/sameerasandakelum/GIT/Overcast
workspace_file=/Users/sameerasandakelum/GIT/config/overcast.code-workspace
package_name=com.sameerasw.overcast
main_activity=.MainActivity
gradle_task=assembleDebug
build_variant=debug
release_type=apk
keystore_file=/Users/sameerasandakelum/Documents/Overcast.jks
target_device=46121FDAP004D9
