# Android Project Configuration for Schedule (Essentials WearOS)
project_name=Schedule (WearOS)
project_dir=/Users/sameerasandakelum/GIT/Schedule
workspace_file=/Users/sameerasandakelum/GIT/config/essentials.code-workspace
package_name=com.sameerasw.essentials
main_activity=.presentation.MainActivity
gradle_task=assembleDebug
build_variant=debug
release_type=apk
keystore_file=/Users/sameerasandakelum/Documents/Essentials-key.jks
target_device=adb-2B011JEEJR041M-Zx1ZJa._adb-tls-connect._tcp
