# Android Project Configuration for Shot on Android
project_name=Shot on Android
project_dir=/Users/sameerasandakelum/GIT/ShotonAndroid
workspace_file=/Users/sameerasandakelum/GIT/config/shotonandroid.code-workspace
package_name=com.sameerasw.shotonandroid
main_activity=.MainActivity
gradle_task=assembleDebug
build_variant=debug
release_type=apk
target_device=46121FDAP004D9
